<ion-header>
    <ion-navbar color="custom03">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title center>Birthday Reminders</ion-title>
        <ion-buttons end>
            <button ion-button icon-only large (click)="addReminder()"><ion-icon name="add" large></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="filterReminders($event)"></ion-searchbar>    
    <ion-list>
        <ion-item-sliding #sitem *ngFor="let item of items">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col class="item-suffix color-label" col-2>
                            <ion-badge [color]="getItemClass(item)">{{getDaysDifference(item)}}</ion-badge> 
                        </ion-col>
                        <ion-col align-self-stretch class="item-description" col-10>{{item.description}}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="editReminder($event, item, sitem)">Edit</button>
                <button ion-button color="danger" (click)="removeReminder(item)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>
