<ion-header>
    <ion-navbar color="custom03">
        <ion-title center>Reminder Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item>
            <ion-label color="custom04" floating>Description</ion-label>
            <ion-input type="text" [(ngModel)]="localReminder.description"></ion-input>
        </ion-item>

        
        <ion-item>
            <ion-label color="custom04" floating>Calendar</ion-label>
            <ion-select interface="popover" [(ngModel)]="localReminder.calendar">
                <ion-option value="s">Solar Calendar</ion-option>
                <ion-option value="l">Lunar Calender</ion-option>
            </ion-select>
        </ion-item>

        <!-- Date -->
        <ion-item>
            <ion-label color="custom04" floating>Date</ion-label>
            <ion-datetime displayFormat="YYYY MMMM DD" pickerFormat="MMM DD YYYY" [(ngModel)]="localReminder.date"></ion-datetime>
        </ion-item>

        <!-- Solar Date-->
        <ion-item *ngIf='localReminder.calendar === "l"'>
            <ion-label color="custom04" floating>Solar Date</ion-label>
            <ion-input type="text" disabled="true" [value]="toSolarDateShortString(localReminder.date)"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label color="custom04" floating>Days before reminding</ion-label>
            <ion-select interface="popover" [(ngModel)]="localReminder.beforeReminding">
                <ion-option value=0>0</ion-option>
                <ion-option value=1>1</ion-option>
                <ion-option value=2>2</ion-option>
                <ion-option value=3>3</ion-option>
                <ion-option value=4>4</ion-option>
                <ion-option value=5>5</ion-option>
                <ion-option value=6>6</ion-option>
                <ion-option value=7>7</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Enable reminding</ion-label>
            <ion-toggle color="secondary" [(ngModel)]="localReminder.enableReminding"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Notification times per day</ion-label>
            <ion-input type="number" [(ngModel)]="localReminder.remindingTimes"></ion-input>
        </ion-item>
    </ion-list>

    
    <button ion-button full (click)="saveReminder()" color="custom03" >Save</button>
    <button ion-button full (click)="deleteReminder()" color="danger" [disabled]='localReminder.id &lt; 0'>Delete</button>
</ion-content>