<ion-header>
    <ion-navbar>
        <ion-title>Reminder Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-input type="text" [(ngModel)]="localReminder.description"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Date</ion-label>
            <ion-datetime displayFormat="YYYY MMMM DD" pickerFormat="MMM DD YYYY" [(ngModel)]="localReminder.date"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label floating>Calendar</ion-label>
            <ion-select interface="popover" [(ngModel)]="localReminder.calendar">
                <ion-option value="s">Solar Calendar</ion-option>
                <ion-option value="l">Lunar Calender</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    
    <button ion-button full (click)="saveReminder()" >Save</button>
</ion-content>